@font-face {
  font-family: "TT Fellows";
  src: url("fonts/TTFellows.ttf");
}
@font-face {
  font-family: "VCR OSD Mono";
  src: url("fonts/VCR_OSD_MONO.ttf");
}
@font-face {
  font-family: "8bit Operator";
  src: url("fonts/8bitOperator.ttf");
}

body {
  background: #111;
  color: #fff;
  font-family: "TT Fellows", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  background: #222;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 650px;
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.title {
  font-family: "8bit Operator", monospace;
  font-size: 38px;
  margin-bottom: 20px;
}

#question-text {
  font-family: "VCR OSD Mono", monospace;
  font-size: 22px;
  margin: 15px 0;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  background: #00bfff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: "VCR OSD Mono", monospace;
  transition: 0.2s;
}

button:hover {
  background: #0099cc;
}

.hidden {
  display: none;
}

.question-img {
  width: 280px;
  border-radius: 12px;
  margin: 10px auto;
  display: block;
}

.final-img {
  width: 300px;
  margin-top: 15px;
  border-radius: 15px;
}
